.about {
    height: auto;
    width: 100%;
    display: block;
    margin-top: 8rem;
    .about-container  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .our-story {
            width: 30%;
            h1 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 8rem;
                line-height: 6.5rem;
            }
            p{
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1;
            }
        }
        .callout {
            width: 70%;
            p {
                font-size: 2.5rem;    
                line-height: 1.2;
            }
        }

        .image-container {
            margin: 3rem 0;
            height: 500px;
            width: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 1200px) {

    .about {
        margin-top: 2rem;
    }

    .our-story {
        width: 100% !important;
        p {
            font-size: 1rem !important;
        }
    }

    .callout {
        width: 100% !important;
        margin: 1rem 0;
        p {
            font-size: 2rem !important;
        }
    }
    
    .image-container {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .callout p {
        font-size: 1.275rem !important;
    }
}