.subpage-banner {
    position: relative;
    width: 100%;
    height: 65vh;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0)),
    url('/impulse-culture-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .hero-info {
        position: absolute;
        right: 0;
        bottom: 0;
        top: auto;
        left: auto;
        width: 60%;
        color: #a0e806;
        
        h1 {
            font-size: 9rem;
            line-height: 11rem;
        }
        p {
            font-size: 1.25rem;
        }
    }
}

.subpage-banner.privacy {
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0)),
    url('/impulse-privacy-hero.jpg');
}

.our-culture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 7rem 0;
    .our-culture__info {
        width: 30%;
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    .callout {
        width: 70%;
        p {
            font-size: 2.5rem;    
            line-height: 1.2;
        }
    }
}

.media-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .video-container {
        video {
            width: 40vw;
            height: auto;
        }
    }
    .image-container {
        object-fit: cover;
        img {
            height: auto;
            width: 55vw;
            margin-top: 15vh;
        }
    }
}

.team {
    margin: 5rem;
    h2 {
        font-size: 10rem;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 10rem;
    }

    .team-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .team-image {
            width: 30%;
            img {
                width: 100%;
                transform: rotate(0.025turn);
            }
        }
        .team-info {
            width: 50%;
        }
    }
}

.promo-banner {
    position: relative;
    width: 100%;
    
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.meet-the-team {
    margin: 5rem 0;
    h2 {
        font-size: 10rem;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 10rem;
    }

    .team-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 5rem 0;
        h3 {
            font-size: 1rem;
        }
        .we-are {
            width: 40%;
            ul {
                padding: 0px;
            }
        }
        .our-team {
            width: 60%;
        }
    }

    .team-members {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;

        .member {
            position: relative;
            width: 20%;
            height: 100%;
            flex-grow: 1;
            
            img {
                width: 100%;
                height: 600px;
                object-fit: cover;
            }

            .member-info {
                position: absolute;
                top: auto;
                bottom: 0;
                left: 10px;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .subpage-banner .hero-info {
        width: 100%;
    }

    .subpage-banner .hero-info h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .subpage-banner .hero-info p {
        font-size: .75rem;
    }

    .our-culture {
        margin: 3rem 0;
    }

    .our-culture .our-culture__info {
        width: 100%;
    }

    .our-culture .our-culture__info h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .team {
        margin: 3rem;
    }
    
    .team h2, .team .h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .team .team-content .team-image {
        width: 100%;
    }

    .team .team-content .team-info {
        width: 100%;
    }

    .media-banner .video-container video {
        width: 100%;
    }

    .media-banner .image-container img {
        height: auto;
        width: 100%;
        margin: 0;
    }

    .meet-the-team h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .meet-the-team {
        margin: 3rem 0;
    }

    .meet-the-team .team-desc {
        margin: 3rem 0;
    }

    .team .team-content .team-image img {
        width: 100%;
        transform: rotate(0);
    }

    .meet-the-team .team-desc .we-are {
        width: 100%;
    }

    .meet-the-team .team-desc .our-team {
        width: 100%;
    }

    .meet-the-team .team-members .member {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .subpage-banner .hero-info {
        width: 100%;
    }

    .subpage-banner .hero-info h1 {
        font-size: 6rem;
        line-height: 5.5rem;
    }

    .subpage-banner .hero-info p {
        font-size: 1rem;
    }

    .our-culture .our-culture__info {
        width: 100%;
    }

    .our-culture {
        margin: 3rem 0;
    }

    .our-culture .our-culture__info h2 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .team h2, .team .h2 {
        font-size: 7rem;
        line-height: 6rem;
    }

    .team .team-content .team-image {
        width: 50%;
    }

    .team .team-content .team-image img {
        width: 100%;
        transform: rotate(0);
    }

    .team .team-content .team-info {
        width: 50%;
    }

    .meet-the-team {
        margin: 3rem 0;
    }

    .meet-the-team h2, .meet-the-team .h2 {
        font-size: 7rem;
        line-height: 6rem;
    }

    .meet-the-team .team-desc {
        margin: 3rem 0;
    }

    .meet-the-team .team-desc h3 {
        font-size: 2rem;
    }

    .meet-the-team .team-desc .we-are {
        width: 100%;
    }

    .meet-the-team .team-desc .our-team {
        width: 100%;
    }

    .meet-the-team .team-members .member {
        width: 40%;
    }
}