html.lenis, html.lenis body {
	height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

@media only screen and (max-width: 800px) {
    html {
        overflow: hidden;
        width: 100%;
      }
    body {
        height: 100%;
        position: fixed;
        /* prevent overscroll bounce*/
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        /* iOS velocity scrolling */
    }
}

@media only screen and (min-width: 800px) {
    [data-animation="text-reveal"] {
        div {
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
        }

        div div {
            transform: translateY(100%);
            will-change: transform;
        }
    }

    [data-animation="parallax-image"] {
        overflow: hidden;
        img {
            height: 150% !important;
        }
    }
}

